net clk_nexys loc=B8;
net RX_Data loc=M13;
NET Data_Tx	loc=R18;
net Sal_Motor<3>	loc=G15;
net Sal_Motor<2>	loc=J16;
net Sal_Motor<1>	loc=G13;
net Sal_Motor<0>	loc=H16;
net Salidas_7segc<7> loc=C17;
net Salidas_7segc<6> loc=H14;
net Salidas_7segc<5> loc=J17;
net Salidas_7segc<4> loc=G14;
net Salidas_7segc<3> loc=D16;
net Salidas_7segc<2> loc=D17;
net Salidas_7segc<1> loc=F18;
net Salidas_7segc<0> loc=L18;
net Control_Disp_7segc<3> loc=F17;
net Control_Disp_7segc<2> loc=H17;
net Control_Disp_7segc<1> loc=C18;
net Control_Disp_7segc<0> loc=F15;
