@model Curso
@{
    ViewData["Title"] = "Información de Curso";
}

<h1>Página: @ViewData["Title"]</h1>
<h2>@ViewBag.MensajeExtra</h2>
<partial name="ObjetoEscuelaSimple" />
<p><i>@ViewData["Fecha"]</i></p>