Net A(2) LOC=R17;
Net A(1) LOC=N17;
Net A(0) LOC=L13;
Net B(2) LOC=L14;
Net B(1) LOC=K17;
Net B(0) LOC=K18;
Net sel(2) LOC=H18;
Net sel(1) LOC=G18;
Net sel(0) LOC=H13;
Net Sal(7) LOC=C17;
Net Sal(6) LOC=H14;
Net Sal(5) LOC=J17;
Net Sal(4) LOC=G14;
Net Sal(3) LOC=D16;
Net Sal(2) LOC=D17;
Net Sal(1) LOC=F18;
Net Sal(0) LOC=L18;
Net Sal_b(5) LOC=P15;
Net Sal_b(4) LOC=E17;
Net Sal_b(3) LOC=K14;
Net Sal_b(2) LOC=K15;
Net Sal_b(1) LOC=J15;
Net Sal_b(0) LOC=J14;