Net clk LOC=B8;
Net Sel LOC=R17;
Net rst LOC=H13;
Net Sal(7) LOC=C17;
Net Sal(6) LOC=H14;
Net Sal(5) LOC=J17;
Net Sal(4) LOC=G14;
Net Sal(3) LOC=D16;
Net Sal(2) LOC=D17;
Net Sal(1) LOC=F18;
Net Sal(0) LOC=L18;
Net Control(3) LOC=F15;
Net Control(2) LOC=C18;
Net Control(1) LOC=H17;
Net Control(0) LOC=F17;