@* @model List<ObjetoEscuelaBase>  *@

<table class="table table-dark table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var objetoEscuelaBase in Model)
        {
            <tr>
                <td>@objetoEscuelaBase.Nombre</td>
                <td>@objetoEscuelaBase.UniqueId</td>
            </tr>
        }
    </tbody>
</table>