@model IEnumerable<Asignatura>
@{
    ViewData["Title"] = "Información de Asignaturas";
    Layout = "_LayoutSimple";
}

<strong>Desde la vista parcial.</strong>
<partial name="ListaObjetoEscuela" model="@Model"/>
@* @foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaSimple" model="asignatura"/>
} *@

<p><i>@ViewData["Fecha"]</i></p>

