{% extends "layout.twig" %}
{% block pageTitle %}
  Agregar Proyecto
{% endblock %}
{% block content %}
    <h1>Agregar Proyecto.</h1>
    <div class="alert alert-primary" role="alert">
        {{responseMessage}}
    </div>
    <form action="Add" method="post" enctype="multipart/form-data">
        <label for="">Nombre:</label>
        <input type="text" name='title'><br>
        <label for="">Descripción:</label>
        <input type="text" name='description'><br>
        <label for="">Meses:</label>
        <input type="text" name='months'><br>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}