/* Letras */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');
/* Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color: #313337;
/* Tipografia */
--normal: 12px;
/* Espaciado */
--space: 10px;
/* BoxShadow */
--box:  0 0 15px #c1bcbc;
}

html, body { /* Elimnar los margenes para tener control de toda la ventana. */
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;/* Separa logo de menu de opciones. */
    align-items: center;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
}

nav ul{
    display:flex
}

nav li{
    padding-left: 20px;
    list-style: none;/* Le quita el estilo default a la lista (puntos).*/
}

nav li a{
    text-decoration: none;
    color: var(--black-color);/* Le asigna el color correcto a anchor(a).*/
}

nav li a:hover{/* Hover indica el estilo cuando el usuario pasa el mouse por encima. */
    color: var(--white-color);
}

/* Main section */

.main_section{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.png");
    height: 50px;
    background-size: cover;/* Escala la imagen al tamaño del contenedor. */
    background-position: center top;/* Especifica la alineación de la imagen. */
    padding: 10%;/* División entre los distintos productos. */
    display: flex;
    justify-content: center;
}

.product{
    padding: var(--space);/* División entre productos. */
    margin-top: -300px;/* Hace que la imagen aparezca arriba. */

}

.product .content{
    background-color: var(--white-color);
    padding: var(--space);
    box-shadow: var(--box);/* Sombrea por los bordes del contenedor al color y grueso especificado. */
}

.product .img_content{
    text-align: center;/* Alinea las imagenes al centro. */
}

.main_button{
    background-color: var(--green-color);
    width: 100%;/* Ocupa todo el espacio del contenedor. */
    border-radius: 2px;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    cursor: pointer;/* Al pasar el cursor aperece la manita. */
}

.main_button:hover{
    background-color: #5E9E22;
}