NET	 "clk"	LOC = B8;
NET    "reset"         LOC = B18;
NET 	"hsync"	    LOC = T4;
NET 	"vsync" 	 LOC = U3;

NET 	 "rgb[2]"	 LOC = R8;
NET	 "rgb[1]"    LOC = N8;
NET	 "rgb[0]"	 LOC = U4;


#NET 	 "vga_red[0]" 	 LOC = R9;
#NET	 "vga_red[1]" 	 LOC = T8;
#NET 	 "vga_red[2]"	 LOC = R8;
#NET	 "vga_green[0]" LOC = N8;
#NET	 "vga_green[1]" LOC = P8;
#NET	 "vga_green[2]" LOC = P6;
#NET	 "vga_blue[0]"	 LOC = U5;
#NET	 "vga_blue[1]"	 LOC = U4;
#
#NET 	 "adout[11]" 	 LOC = R17;
#NET	 "adout[10]" 	 LOC = N17;
#NET 	 "adout[9]"	    LOC = L13;
#NET	 "adout[8]"     LOC = L14;
#NET	 "adout[7]"     LOC = K17;
#NET	 "adout[6]"     LOC = K18;
#NET	 "adout[5]"	    LOC = H18;
#NET	 "adout[4]"	    LOC = G18;
#NET	 "adout[3]"     LOC = H13;
#NET	 "adout[2]"	    LOC = E18;
#NET	 "adout[1]"	    LOC = D18;
#NET	 "adout[0]"	    LOC = M13;
###NET    "ADC_SDATA1"   LOC = K12;
###NET    "ADC_SDATA2"   LOC = L17;
###NET    "ADC_SCLK"     LOC = M15;
###NET    "ADC_CS"       LOC = L15;
#
#
#NET "ck_25" TNM_NET = ck_25_net;
#TIMESPEC TS_ck_25 = PERIOD "ck_25_net" 40 ns HIGH 50%;
