/* reglas:El conjunto de todo
    header{
    background:forestgreen;
    } 
*/
/* selectores: Identificar un elemento html.
    header {
 */
/* declaraciones: Todo lo que se hace con el selector.
    background:forestgreen; justify-content: center;
*/
/* propiedades: Los atributos.
    background, justify-content  */
/* valores: El contenido en específico que tiene 
    forestgreen. 
*/

/* Selector de etiqueta: Hace referencia al elemento html que se desea. 
 header -section -article -nav */
/* selector descendente: Selector de hijos todos los elementos hijos dentro de la lista.
     body header div nav ol li a {} */
/* selector de clase: Se usan para darle estilo a una clase, se anteceden por un ".".
    .link <a class="link" href="#eventos">Experiencia.</a>
*/
/* selector de id: Se usan para darle estilo a un id, se anteceden por un "#".
    #eventos <a class="link" href="#eventos">Experiencia.</a>
*/

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* backgroud gris #1b2127 */
/* celeste #026fff */

/* Font para icono */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?v2q9d1');
    src:  url('../fonts/icomoon.eot?v2q9d1#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?v2q9d1') format('truetype'),
      url('../fonts/icomoon.woff?v2q9d1') format('woff'),
      url('../fonts/icomoon.svg?v2q9d1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

/* General */

body {
    font-family:Comic-Sans, Arial, Helvetica, sans-serif ;/*Utiliza el tipo de fuente Arial, si no la encuentra, entonces Helvetica y si no sans-serif.*/
    font-family: 'Source Sans Pro';
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {/*Selector de etiqueta para los distintos headers.*/
    font-family: 'Fjalla One', Times, serif;/*Cambia letra para los elementos tiene prioridad sobre el elemento padre.*/
    font-weight: 400;/*Peso de negritas 600 es negritas 400 es normal*/
    /* font-style: italic; Tipo de fuente cursiva.*/
}

h1{
    color: white;
    font-size: 40px;/*Tamaño de la letra.*/
    line-height: 1.5;/* Interlineado, debe ser al menos del tamaño de la fuente en px, 150%. */
    letter-spacing: -2px;/* Sepración entre letras. */
    margin: 100px 150px 70px 30px;/* Define el margen en top right bottom left. */
    margin: 0;
    /* text-transform: uppercase;Hace la transformación del texto en mayúsculas. */
    /* text-decoration: underline;Subraya el texto. */
}

h1 strong{/* Selector descendente de las propiedades strong de h1. */
    color: rgb(0, 100, 255);
}

h2 strong{/* Selector descendente de las propiedades strong de h2. */
    color: rgb(0, 100, 255);
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    margin-bottom: 40px;
}

ol,
ul{/* Quita el formato a todas las listas y las deja sin separaciones posibles */
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {/* Permite que el logo y las demas figuras puedan tocar los bordes si no están restringidas por otro elemento. */
    margin: 0;
}

/* header */

.header {
    background-color: #1b2127;/* Color de fondo */
    color: white;/* Color del texto. */
    text-decoration: none;/* Impide que se muestren distintos los hipervinculos.*/
    height: 70px;/* Altura de 70px. */
    align-items: center;
    display: flex;/* Display flex para que los elementos hijos (el <figure> y el <nav>) se alineen en forma horizontal. */
    justify-content: space-between;/* Distribuye el contenido en este caso la imagen y las caracteristicas en los extremos. */
    height: 90px; /* <---- Define la altura del header para aplicar los comandos de align-content. */
    flex-wrap: wrap;/* Cuando no hay espacio para el menú lo manda para abajo. */
    
}

.menu { /* .menu hereda height de .header */
    height: inherit;
}
  
.header ol { /* .header ol hereda height de .menu */
    display: flex;/* Muestra los elementos de la lista en forma horizontal(ya no usa block) en lugar de vertical.La propiedad display:flex; solo se aplica a los hijos directos. */
    height: inherit;
}

.header ol li { /* .header ol li hereda height de .header ol */
    height: inherit;
    
}

.header a{/*Anclas del header (se modificaron porque los anchor van debajo de la cascada del header).*/
    color: white;/* Color del texto. */
    text-decoration: none;/*Quita el subrayado.*/
    height: inherit;/* .header a hereda height de .header ol li */
    display: flex;/* Aplica display flex para permitir distribuirlos. */
    align-items: center;/* Alinear en el centro vertical. */
    padding: 0 10px; /* Margenes interiores con 0 en superior e inferior y 10px en derecho e izquierdo. */
}

/* hero */

.hero{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;/* Centra el texto en el centro horizontal. */
    justify-content: space-between;
    flex-wrap: wrap;/* Cuando no hay espacio para la imagen la manda para abajo. */
}
 
.hero-image{
    object-fit: cover;/* Ajusta la imagen. */
    
}

/* portafolio */

.portfolio{
    background: #fafafa;
    padding: 20px;    
}

.project{
    border-top: 10px solid red;/*Dibuja un borde en la parte indicada tamaño tipo estilo; */
    border-right: 10px solid green;/*Dibuja un borde en la parte indicada tamaño tipo estilo; */
    border-left: 10px solid orange;/*Dibuja un borde en la parte indicada tamaño tipo estilo; */
    border-bottom: 10px solid pink;/*Dibuja un borde en la parte indicada tamaño tipo estilo; */
    border-color: red;/* Define el color del borde. */
    border-width: 15px;/* Ancho del borde, sin este no se puede definir el borde. */
    border-style: solid;/* Tipo de borde.*/
    border: 1px solid gray;/* Declara un borde de 1px, solido y gris. */
    border-radius: 10px;/* Define un redondeo del borde a 10px. */
    border-top-left-radius: 50px;/* Define un redondeo del borde superior izquierdo a 50px. Sobrescribiendo los bordes ya definidos.*/
    margin-bottom: 15px;/* Crea un margen a 10 pixeles solo abajo */
    padding: 20px;/* Define el padding (separación interna) de 20 pixeles. */
    background: white;
    box-sizing: border-box;/* Impide que la caja crezca de tamaño mas alla de lo permitido por height y width. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;/* Cuando no hay espacio para la imagen la manda para abajo. */
}

.project-title{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project strong{
    font-family: 'Fjalla One', Times, serif;
}

.project-details{
    width: 50%;/* Usa la mitad del ancho total.*/
    
}

.project-imageContainer{
    width: 50%;/* Usa la mitad del ancho total.*/
}

.project-imageContainer img{
    max-width: 100%;
}

/* eventos */

.event-list-title{
    margin-left: 20px;
}

.event-list{
    display: flex;
    flex-wrap: wrap;/* Cuando un elemento no cabe sigue en la siguiente linea. */
}

.event{
    margin: 1%;/* Margen de 1% para hacerlo responsive. */
    width: 48%;/* Ocupa 48% del espacio total para que con el margen logren el 100% y no se salga del contendor.*/
    flex-shrink: 0;/* Impide que se reajuste. */
    border-radius: 15px;/* Redondea los borde de event. */
    overflow: hidden;/* Todo lo que se salga de los bordes lo oculta. */
    background: #fafafa;
}

.event-image{
    width:  480px;
    height: 200px;
    object-fit: cover;/* Ajusta la imagen para no desproporcionarla. */
    /* object-fit: hidden; */
    
}

.event-detail{
    margin: 20px 40px;/* Margen para separar del elemento padre. */
    margin-top: -40px;/* Para invadir parte del espacio de la imagen. */
    background-color: white;
    position: relative;/* Permite que el texto se vea por encima de la imagen. */
    padding: 20px;/* Separación interior para que se vea centrado. */
    text-align: center; /* Centra el texto dentro de su contenedor. */
}
    
.event-description{
    text-align: left;
}

.event-url{
    color: rgb(0, 100, 255);
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* contacto */

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;/* Cuando no hay espacio para los iconos los manda para abajo. */
}

.social{
    background-color: inherit
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{/* Modifica al elemento que contenga las 2 clases.  */
   background-image: url('../images/twitter.svg');
}

.social-link.facebook{/* Modifica al elemento que contenga las 2 clases.  */
   background-image: url('../images/facebook.svg');
}

.social-link.github{/* Modifica al elemento que contenga las 2 clases.  */
   background-image: url('../images/github.svg');
}

.social-link.instagram{/* Modifica al elemento que contenga las 2 clases.  */
   background-image: url('../images/instagram.svg');
}

.form-email{
    margin: 0 10px;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    border-color: white;
    width: 100px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro';
}

/* footer */

.footer {
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-course, .footer-design{
    margin: 1em auto;
}

.footer img{
    vertical-align: middle;/* Alinea la imagen verticalmente para que todo este alineado (sino solo se alinea conforme a la imagen). */
}

.footer a{
    color: white;
}

.footer p{
    margin: 0 10px;
}

.container {
    max-width: 1000px;/* Se aplica tamaño maximo para evitar que el tamaño sea fijo. */
    flex: 1;/* Permite que ocupe todo el ancho del elemento padre similar a width 100% pero menos restrictivo. */
    margin: 0 auto;
    padding: 0 0.5em;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.html-video{
    width: 40%; /* Ancho fijo del video. */
    height: auto;/* Ajusta para respetar las proporciones del video. */
    margin: 0 30%;
    /* max-width: 100%; */
}

.youtube-video{
    position: absolute;/* Posición absoluta para posicionarse en flexible-video. */
    top: 0;/* Estira el video a cada esquina. */
    bottom: 0;/* Estira el video a cada esquina. */
    right: 0;/* Estira el video a cada esquina. */
    left: 0;/* Estira el video a cada esquina. */
    width: 100%;/* Ocupar todo el espacio en horizontal. */
    height: 100%;/* Ocupar todo el espacio en vertical. */
    z-index: 3;    /* Indica que irá al frente de los elementos definidos por z-index 2 y 3. */
}

.flexible-video{/* Contenedor donde se moverá de posición el video. */
    width: 100%;/* Porcentaje que se desea ocupar en el contenedor padre. */
    height: 0;/* Altura 0, pues esta se establecerá por padding. */
    padding-top: 56.25%;/* Pd-t=Porcentaje/100*height*100/width*/
    position: relative;/* Relativo, para asi lograr que el absolute se posicione aqui. */
}


/* Media Querie Desktop First */

@media screen and (max-width: 1024px) {
    .hero{
        height: auto;/* Alto dinámico para evitar que choque con otras secciones. */
    }

    h1 {
        font-size: 2.4em;/* Definir tamaño de letra para evitar desbordamientos. */
    }

    .hero-image{
        width: 50%;/* Dar un ancho de imagen relativo. */
    }
}

@media screen and (max-width: 767px) {

    .hero{
        height: auto;/* Alto dinámico para evitar que todo el hero choque con otras secciones. */
        position: relative;/* Logra que el absolute del hero-image se reubique al inicio del hero. */
        overflow: hidden;/* Oculta todo lo desbordado, (la imagen se desbordo al querer que ocupe toda la pantalla). */
        padding: 2em;
    }

    .hero-image{
        position: absolute;
        z-index: 1;/*1 Para permitir que la imagen tenga contenido arriba. */
        left: 0;/* Estira el elemento hasta el inicio de la izquierda. */
        right: 0;/* Estira el elemento hasta el inicio de la derecha. */
        top: 0;/* Estira el elemento hasta arriba. */
        bottom: 0;/* Estira el elemento hasta abajo. */
        width: 100%;/* Forza el estirado de la imagen cuando ya alcanzo sus dimensiones originales. */
    }

    h1 {
        font-size: 2em;/*  Reducir tamaño del texto para visualizarlo bien. */
        z-index: 2;/*2 Para encimar el texto sobre la imagen. */
    }

    .header{
        display: block;/*Al quitarle flexbox hace que un elemento se apile por debajo forzosamente */
        height: auto;/* Permite que todos los elementos apilados se muestren. */
    }

    .header ol{
        display: initial;/* Mostrar en lista los elementos */
    }

    .header ol li {
        height: 50px;/* Especifica un alto en pixeles para cada elemento evitando que se vean muy juntos. */
        text-align: center;
    }

    .header a {
        justify-content: center;/* Centra los elementos de los links. */
    }
    
    .header .logo {
        text-align: center;/* Centra la imagen y su descripción al centro.*/
    }

    /* Project */
    .project{
        display: block;/* Manda la imagen para abajo impidiendo que salga del margen. */
    }
    
    .project-details{
        width: auto;/* Ajustar descripción del proyecto evitando que solo ocupe la mitad. */
    }

    .project-course, .project-date, .project-url{
        margin: 0.4em 0;/* Define con 0.4em los margenes superiores para que se ajusten también al tamaño de letra. */
    }

    .project-title{
        font-size: 1.5em;
        margin-bottom: 0.3em;
    }

    .project-url{
        font-size: 1em;
    }

    .project-course{
        font-size: 0.8em;
    }

    .project-date{
        font-size: 1em;
    }

    .project-description{
        font-size: 0.8em;
    }

    .project-imageContainer{
        width: auto;/* Ajustar imagen del proyecto evitando que solo ocupe la mitad. */
        text-align: center;
    }

    /* eventos */
    
    .event{
        width: auto;
        /* Eliminar el scroll horizontal */
        flex-shrink: initial;/* Hacer reajustable el tamaño del contenedor, anteriormente configurado a no reajustarse.*/
    }
    
    .event img{
        width: 100%;/* Hace que la imagen ocupe todo el tamaño del contenedor. */
    }
    
}

@media screen and (max-width: 570px) and (min-width: 481px){
    h1{
        font-size: 1.5em;/* Tamaño de la fuente que cumpla con los renglones y propoción de la página. */
    }

    .form-email{
        width: 30%;
        /* Evita que sea mas grande de lo necesario. */
    }

    .social{
        width: 50%;
       display: flex;
       justify-content: center;
    }

    .social-link{
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    h1{
        font-size: 1.6em;/* Ajuste de tamaño de fuente. */
    }

    /* Project */
    
    .project-details{
        font-size: 12px;
    }

    /* eventos */

    .event-detail{
        margin: -2em 0.5em 0.5em 0.5em;/* Margen para sobreponer en la imagen */
        padding: 1em;/* Ajustar el padding. */
    }

    /* Contacto */
    
    .contact{
        height: auto;/* Pone un alto automático para que quepan los elemento, pues ya no estan en una línea. */
        padding: 1.5em 0;/* Ajusta el padding vertical para que no esten pegados los elementos al momento de realizar el wrap. */
        display: block;/* Quita el display flex para poder usar text-align: center, para centrar el contenido. */
        text-align: center;/* Centra el contenido (deben tener margenes). */
    }

    .social-link{
        margin: 5px 10px;
    }

    .form-email h3{
        margin-top: 0;/* Fija en cero el margen para que no exista tanta separación. */
    }

    .form-email button{
        margin: 1em auto;/* Coloca margen para poder centrar el elemento. */
    }

    /* Footer */
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}

@media screen and (max-width: 320px) {
    h1{
        font-size: 1.2em;
    }

    .hero{
        padding: 2em 1em;
    }
}